html,
body {
	font-family: 'Montserrat Alternates';
	font-size: 16px;
	background: #1d1d1d;
	color: white;
}

.Component {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.centered {
	margin: 0;
	width: fit-content;
	height: fit-content;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
